<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% block title %} <title>Document</title> {% endblock %}
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="/static/signup.css">
</head>
<body>
    {% block content %}
    <div class="image-bg">
        <div class="about">
            <ul>
                <li>Follow your interest</li>
                <li>Hear what people are talking about</li>
                <li>Join the conversation</li>
            </ul>
        </div>
    </div>
    <div class="user-bg">
        <div class="container">
            <div class="col-md-8">
            <h1>What's Happening ? </h1>
            <h2>New to Warbler?</h2>
            <h3>Sign Up now to get your own personalized timeline!</h3>
            <button class="btn btn-primary my-3 custom-button"><a href="signup" style="color: white; text-decoration: none;">Sign Up</a></button> 
            </div>
            <p style="margin-left: 150px; color: white;" >Already have an account?
                <button type="button" class="btn btn-info btn-lg" class="login" style="background: none; font-weight: bold; font-size: 17px; color: dodgerblue; border: none; padding: 0px 4px;"> <a href="/login">Login</a></button>
            </p>
        </div>
    </div>
    
    {% endblock %}
</body>

</html>