{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title>Profile</title>{% endblock %} 
</head>
<body>
    {% block content %} 
    <h2>Edit Your Profile</h2>
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type !='hidden' and field.name != 'password' %}
    {% for error in field.errors %}
        {{error}}
    {% endfor %}
        {{field(placeholder=field.label.text, class="form-control")}} 
    {% endfor %}
    <h3>To confirm changes, enter your password:</h3>
    {% if form.password.errors %} 
    {% for error in form.password.errors %}
        {{error}}
    {% endfor %}
    {% endif %}
    {{form.password(placeholder="Enter your password to confirm", class="form-control")}}
    <button>Edit this user!</button>
    {% endblock %}
</body>
</html>