{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title>Profile</title>{% endblock %} 
</head>
<body>
    {% block content %} 
    <h2>Edit Your Profile</h2>
    <form action="{{url_for('profile')}}" method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type !='hidden' and field.name != 'password' %}
    {% for error in field.errors %}
    <div class="invalid-feedback">
        {{error}}
    </div>
    {% endfor %}
        <div class="form-group">
            <label for="{{ field.id }}" class="fw-bold text-dark">{{ field.label.text }}</label>
            {{ field(style="width: 95%;",placeholder=field.label.text, class="form-control") }} 
        </div>
    {% endfor %}
    <h3>To confirm changes, enter your password:</h3>
    {% if form.password.errors %} 
    {% for error in form.password.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
    {% endfor %}
    {% endif %}
    <div class="form-group">
        <label for="{{ form.password.id }}">{{ form.password.label.text }}</label>
        {{ form.password(style="width: 60%;",placeholder="Enter your password to confirm", class="form-control") }}
    </div>
    <button class="btn btn-primary mt-2">Edit this user!</button> 
    </form>
    
    {% endblock %}
</body>
</html>
