<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show users</title>
</head>

<body>
    {% extends 'users/detail.html' %}
    {% block user_details %}

    <ul>
        {% for message in messages %}
        <li><a href="@{{user.username}}"> {{message.timestamp.strftime('%d%B%Y')}} </a></li>

        {{message.text}}
        {% if g.user.id != message.user_id %}
        <button>Message</button>
        {% endif %}
        {% endfor %}
    </ul>
    {% endblock %}
</body>

</html>